@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
    .layer1 {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        height: 50px;
    }

    .layer2 {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        height: 50px;
        border: 1px solid green;
    }
}
